.animated-slow {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.animated {
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.is-underlined {
    text-decoration: underline;
}
