.animated-slow {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.animated {
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.is-underlined {
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
 width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
 background: hsl(34,50,10);
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #888;
}
